go 1.21

use (
	./calc
	./concurrency
	./dapr/quickstarts/service_invocation/go/http/checkout
	./dapr/quickstarts/service_invocation/go/http/order-processor
	./data-access
	./go-package
	./simple-todo
	./workshop/mrello
)
